@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><a href="/Home/FileNameGenerator">Генератор имён файла(длина задаётся в контроллере)</a></h3>
</div>
